@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

header {
  padding: 34px 0 0 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn__sign {
  display: flex;
  font-family: Work Sans;
  font-weight: 600;
  gap: 12px;
  align-items: center;
  background-color: #A259FF;
  color: white;
  border: none;
  padding: 19px 30px;
  border-radius: 20px;
  height: 60px;
  width: 152px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__list {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

.link__li a {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-decoration: none;
  color: #FFFFFF;
}

.hero__text {
  font-family: Work Sans;
  font-size: 67px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 73.7px;
  color: #FFFFFF;
  width: 500px;
}

.text {
  margin: 80px 195px;
}

.hero__info {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 35.2px;
  text-align: left;
  color: #FFFFFF;
  width: 510px;
}

.hero__button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #A259FF;
  padding: 19px 50px;
  border: none;
  border-radius: 20px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #FFFFFF;
}

.hero__numbers {
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 60px;
}

.number_one {
  font-family: "Work Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: left;
  color: #FFFFFF;
}

.number_two {
  font-family: "Work Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: left;
  color: #FFFFFF;
}

.number_three {
  font-family: "Work Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: left;
  color: #FFFFFF;
}

.number_one h2 {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  color: #FFFFFF;
}

.number_two h2 {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  color: #FFFFFF;
}

.number_three h2 {
  font-family: "Space Mono";
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  color: #FFFFFF;
}

.navbar__two {
  display: flex;
}

.box__title {
  font-family: Work Sans;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  color: #FFFFFF;
}

.animakid {
  display: flex;
  align-items: center;
  gap: 12px;
}

.animakid__text {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}

.box {
  margin-top: 80px;
  padding-top: 422px;
  border-radius: 30px 30px 0 0;
  background-image: url(/img/Image\ Placeholder.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 510px;
  height: 401px;
  background-color: #3B3B3B;
}

.background__color {
  background-color: #3B3B3B;
  padding: 22px 20px;
  border-radius: 0px 0px 30px 30px;
}/*# sourceMappingURL=style.css.map */